
* {margin: 0;padding: 0;box-sizing: border-box;}nav {width: 100%;height: 75px;line-height: 75px;padding: opx 100px;position: fixed;padding-top: 25px;background-color: rgb(255, 255, 255);
padding-bottom: 5%;}nav .logo p {font-size: 30px;font-weight: bold;float: left;text-transform: uppercase;letter-spacing: 1.5px;cursor: pointer;
padding-left: 30px;color: rgb(12, 12, 13)}nav ul {float: right;}

nav li {
            display: inline;
            list-style: none;
}

        nav li a {
            font-size: 17px;
            text-transform: uppercase;
            color: rgb(0, 0, 0);
            text-decoration: none;
            padding: 0px 25px;
        }

        nav li a:hover {
            color: blue;
            transition: all 0.4s ease 0s;

        }

        nav li a:active {
            color: rgb(255, 0, 0);

        }

        .item {
            width: 100%;
            height: 100vh;
            background-size: cover;
            background-position: center;
            background-image: url("123.webp");

        }

        .text {
            padding-top: 20%;
            padding-left: 8%;
            color: white;
            font-weight: bolder;
            font-size: 80px;


        }

        span {
            color: red;
        }

        .c {
            color: rgb(23, 7, 249);
        }
.color{
    background-color: rgb(0, 0, 0);
    width: 100%;
            height: 155vh;
            background-size: cover;
            background-position: center;
}
.topic{
    color:white;
    padding-left: 0%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    font-size: 22px;

}
.about{
    padding-left: 7%;
    padding-top: 3%;
}
strong{
    font-weight: bold;
    font-size: 200%;
    color: red;
}
.con{
    background-color: rgb(0, 0, 0);
    width: 100%;
            height: 150vh;
            background-size: cover;
            background-position: center;
}
img{
    padding-left: 25%;
    padding-top: 10%;
}
.p{
    color:white;
    padding-top:2%;
    padding-left: 6%;
    padding-right: 6%;
    font-size: 22px;
    
    
}
.top{
    color: white;
    padding-left: 5%;
    font-size: 40px;

}
.abi{
    font-size: 40px;
    padding-bottom: 3%;

}
body{
    background-color: black;
}
.rr p{
color: rgb(255, 255, 255);
padding-left: 2%;
font-size: 20px;
padding-right: 2%;
padding-bottom: 2%;
}
.rab{
    color: white;
    padding-top: 10%;
    font-size: 40px;
    padding-left: 2%;
    
}
h2{
    color: white;
    padding-left: 2%;

}
.cc{
    font-size: 55px;
}