@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
body{
    color: rgb(255, 255, 255);

}
.about{    
    position: relative;
    background: url('../Pic/desktop-wallpaper-portfolio.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.red{
    color: red;
}
.logo a {
    position: relative;
    font-size: 35px;
    color: rgb(255, 255, 255);
    text-decoration: none;font-weight: 600;
    color: rgb(255, 255, 255)
}
.logo{
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;

}
.navbar a{
    display: inline-block;
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-size: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;

}
.navbar a i{
    transition: .3s all linear;
}
.navbar a:hover i{
    transform: scale(1.5);
    color:  rgb(255, 0, 0);
}

.navigation{
    position: fixed;
    top: 30%;
    right: 50px;
    border: solid white 2px;
    z-index: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 275px;
    width: 50px;
    border-radius: 20px;
    opacity: 0;
    animation:slideRight 1s ease .5s forwards;
}
.navigation .tooltip a{
    color: white;
}
.navigation .tooltip a i{
    transition: .3s all linear;
}
.navigation  .tooltip a:hover i{
    transform: scale(1.5);
    color:  rgb(255, 0, 0);
}
.tooltip{
    position: relative;
    display: inline-block;
}
.tooltiptext{
    visibility: hidden;
    margin-left: 10px;
    width: 70px;
    background-color: white;
    color: black;
    text-align:center;
    border-radius: 6px;
    padding: 5px 0;
    position:absolute ;
    right: 40px;
    z-index: 1;
}
.tooltip:hover .tooltiptext{
    visibility: visible;
}

.text{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    
}
.container img{
    width: 260px;
    height: 260px;
    border-radius: 50%;
    /* box-shadow: 0px 0px 10px red; */
}


.container{
    width: 100%;
    display: flex;
    padding: 0px 20%;
    gap: 20%;
    
}

.about-content{
    margin-top: 10px;
    font-size: 20px;

}

.mar{
    margin-left: 40px;
}

.name img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.qalification{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    padding: 20px 10%;
}
.title{
    width: 420px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;

    }
    
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideTop{
    0%{
        transform: translateY(-100px);
        opacity: 0;

    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideTop{
    0%{
        transform: translateY(-100px);
        opacity: 0;

    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideBottom{
    0%{
        transform: translateY(100px);
        opacity: 0;

    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;

    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}