@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
body{
    color: rgb(255, 255, 255);

}
.projects{    
    position: relative;
    background: url('../Pic/desktop-wallpaper-portfolio.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding: 20px 10%;
}
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.red{
    color: red;
}
.logo a {
    position: relative;
    font-size: 35px;
    color: rgb(255, 255, 255);
    text-decoration: none;font-weight: 600;
    color: rgb(255, 255, 255)
}
.logo{
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;

}
.navbar a{
    display: inline-block;
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-size: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;

}
.navbar a i{
    transition: .3s all linear;
}
.navbar a:hover i{
    transform: scale(1.5);
    color:  rgb(255, 0, 0);
}

.navigation{
    position: fixed;
    top: 30%;
    right: 50px;
    border: solid white 2px;
    z-index: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 275px;
    width: 50px;
    border-radius: 20px;
    opacity: 0;
    animation:slideRight 1s ease .5s forwards;
}
.navigation .tooltip a{
    color: white;
}
.navigation .tooltip a i{
    transition: .3s all linear;
}
.navigation  .tooltip a:hover i{
    transform: scale(1.5);
    color:  rgb(255, 0, 0);
}
.tooltip{
    position: relative;
    display: inline-block;
}
.tooltiptext{
    visibility: hidden;
    margin-left: 10px;
    width: 70px;
    background-color: white;
    color: black;
    text-align:center;
    border-radius: 6px;
    padding: 5px 0;
    position:absolute ;
    right: 40px;
    z-index: 1;
}
.tooltip:hover .tooltiptext{
    visibility: visible;
}

.text{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    
}

.fillter-buttons{
    margin-bottom: 2rem;
    text-align: center;

}
.fillter-buttons .btn{
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: .85rem;
    font-weight: 600;
    letter-spacing: .4px;
    margin-left: 1.3rem;
    color: white;

}
.fillter-buttons .btn:hover{
    color: red;

}
.portfolio-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(270px, 1fr));
    gap:2rem}
.port-box{
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    background: white;
    display: flex;
    grid-template-rows: 1fr auto;
    align-items: center;
    border: 2px solid red;
    box-shadow: 0px 0px 10px red;
}
.port-image{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width:  100%;

}

.port-image img{
    width: 100%;
    opacity: .5s;
    height: 100%;
    transition: .5s;
}
.port-content{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: linear-gradient(rgba(0,0,0,.2),red);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.5s;
    padding: 0 2rem;
}
.port-content h3{
    font-size: 1.5rem;
    font-weight: 600;
}
.port-content p{
    font-size: .8rem;
    margin: 5px 0 15px 0;

}
.port-content a{
    background: white;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid rgb(255, 0, 0);
    outline: 2px solid white;
    text-decoration: none;
}
.port-content a i{
    font-size: 1.3rem;
    color: red;
}
.port-box:hover .port-content{
    opacity: 1;
    
}
.port-box:hover .port-image img{
    transform: scale(1.1);
}
@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;

    }
    
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideTop{
    0%{
        transform: translateY(-100px);
        opacity: 0;

    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideTop{
    0%{
        transform: translateY(-100px);
        opacity: 0;

    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideBottom{
    0%{
        transform: translateY(100px);
        opacity: 0;

    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;

    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 96%;
    }
}
@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}
@keyframes javascript{
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}
@keyframes python{
    0%{
        width: 0%;
    }
    100%{
        width: 65%;
    }
}
@keyframes java{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes mysql{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
