@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
body{
    color: rgb(255, 255, 255);

}
.service{    
    position: relative;
    background: url('../Pic/desktop-wallpaper-portfolio.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding: 20px 10%;
}
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.red{
    color: red;
}
.logo a {
    position: relative;
    font-size: 35px;
    color: rgb(255, 255, 255);
    text-decoration: none;font-weight: 600;
    color: rgb(255, 255, 255)
}
.logo{
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;

}
.navbar a{
    display: inline-block;
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-size: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;

}
.navbar a i{
    transition: .3s all linear;
}
.navbar a:hover i{
    transform: scale(1.5);
    color:  rgb(255, 0, 0);
}

.navigation{
    position: fixed;
    top: 30%;
    right: 50px;
    border: solid white 2px;
    z-index: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 275px;
    width: 50px;
    border-radius: 20px;
    opacity: 0;
    animation:slideRight 1s ease .5s forwards;
}
.navigation .tooltip a{
    color: white;
}
.navigation .tooltip a i{
    transition: .3s all linear;
}
.navigation  .tooltip a:hover i{
    transform: scale(1.5);
    color:  rgb(255, 0, 0);
}
.tooltip{
    position: relative;
    display: inline-block;
}
.tooltiptext{
    visibility: hidden;
    margin-left: 10px;
    width: 70px;
    background-color: white;
    color: black;
    text-align:center;
    border-radius: 6px;
    padding: 5px 0;
    position:absolute ;
    right: 40px;
    z-index: 1;
}
.tooltip:hover .tooltiptext{
    visibility: visible;
}

.text{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 700;
    font-size: 20px;
    
}
.btn-box{
    width: 320px;
    height: 45px;

}
.btn-box a.btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    width: 150px;
    height: 100%;
    background: red;
    color: white;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: .6s;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    z-index: 1000;
    text-decoration: none;
    box-shadow:0 0 .5rem red;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
}
a.btn:hover{
    color: rgb(0, 0, 0);
}
a.btn::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .4s;

}

a.btn:hover::before{
    width: 100%;
}

.section-services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 2rem;

}
.section-services .service-box{
    flex: 1 1 18rem;
    padding: 2rem 1rem 2rem;
    text-align: center;
    transition: transform .4s;
    border-radius: 10px;
    border: 2px solid white;
    height: 400px;
}
.service-btn{
    width: auto;
    justify-content: center;
}
.service-box:hover{
    transform: translateY(-.7rem)
}
.service-icon{
    border: 2px solid rgb(255, 255, 255);
    padding: 2rem;
    display: flex;
    align-items: center;
    font-size: 3rem;
    border-radius: 50%;
    flex-wrap: wrap;
    position: relative;
    color: rgb(255, 0, 0);
    box-shadow:0 0 .5rem red;
    outline: 3px solid rgb(255, 255, 255)
}
.service-box h3{
    margin-top: 10px;
    font-size: 1.5rem;
}
.service-box p{
    margin-top: 10px;
}
@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;

    }
    
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideTop{
    0%{
        transform: translateY(-100px);
        opacity: 0;

    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideTop{
    0%{
        transform: translateY(-100px);
        opacity: 0;

    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideBottom{
    0%{
        transform: translateY(100px);
        opacity: 0;

    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;

    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}