@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
body{
    color: rgb(255, 255, 255);

}
.service{    
    position: relative;
    background: url('../Pic/desktop-wallpaper-portfolio.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding: 20px 10%;
}
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.red{
    color: red;
}
.logo a {
    position: relative;
    font-size: 35px;
    color: rgb(255, 255, 255);
    text-decoration: none;font-weight: 600;
    color: rgb(255, 255, 255)
}
.logo{
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;

}
.navbar a{
    display: inline-block;
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-size: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;

}
.navbar a i{
    transition: .3s all linear;
}
.navbar a:hover i{
    transform: scale(1.5);
    color:  rgb(255, 0, 0);
}

.navigation{
    position: fixed;
    top: 30%;
    right: 50px;
    border: solid white 2px;
    z-index: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 275px;
    width: 50px;
    border-radius: 20px;
    opacity: 0;
    animation:slideRight 1s ease .5s forwards;
}
.navigation .tooltip a{
    color: white;
}
.navigation .tooltip a i{
    transition: .3s all linear;
}
.navigation  .tooltip a:hover i{
    transform: scale(1.5);
    color:  rgb(255, 0, 0);
}
.tooltip{
    position: relative;
    display: inline-block;
}
.tooltiptext{
    visibility: hidden;
    margin-left: 10px;
    width: 70px;
    background-color: white;
    color: black;
    text-align:center;
    border-radius: 6px;
    padding: 5px 0;
    position:absolute ;
    right: 40px;
    z-index: 1;
}
.tooltip:hover .tooltiptext{
    visibility: visible;
}

.text{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    
}
.skill-main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 20px;
    grid-column-gap: 50px;

}
.skill-bar{
    margin-bottom: 2.3rem;

}
.skill-main h3{
    margin-bottom: 2rem;
    font-size: 30px;
    text-align: center;
}
.skill-left .skill-bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.skill-left .skill-bar .bar{
    width: 100%;
    height: 10px;
    background-color: white;
    border-radius: 25px;
    margin-top: 10px;
    position: relative;
}
.skill-bar .bar span{
    height: 100%;
    position: absolute;
    left: 0;
    background: red;
    border-radius: 25px;
    box-shadow:0 0 .5rem red;
}
.skill-bar .bar .html{
    width: 96%;
    animation: html 4s;
}
.skill-bar .bar .css{
    width: 85%;
    animation: css 3s;
}
.skill-bar .bar .javascript{
    width: 50%;
    animation: javascript 4s;
}
.skill-bar .bar .python{
    width: 65%;
    animation: python 4s;
}
.skill-bar .bar .java{
    width: 70%;
    animation: java 4s;
}
.skill-bar .bar .mysql{
    width: 80%;
    animation: mysql 3s;
}
.professional{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.box{
    position: relative;
    margin: 10px 0 ;
    flex: 1 1 15rem;
}
.box .texts{
    text-align: center;
    color: white;
    font-size: 1rem;
}
.box .texts big{
    font-weight: 400;
    letter-spacing: 1px;
    position: absolute;
    top:45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.circle{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.box .texts small{
    display: block;
    font-weight: 600;
    font-size: 20px;
}

.circle .points{
    width: 2px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    border-radius: 3px;
    transform: rotate(calc(var(--i)*var(--rot)) ) translateY(-45px);

}
.marked{
    animation: glow 0.04s linear forwards;
    animation-delay: calc(var(--i)*0.05s);
}

@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;

    }
    
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideTop{
    0%{
        transform: translateY(-100px);
        opacity: 0;

    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideTop{
    0%{
        transform: translateY(-100px);
        opacity: 0;

    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideBottom{
    0%{
        transform: translateY(100px);
        opacity: 0;

    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;

    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 96%;
    }
}
@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}
@keyframes javascript{
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}
@keyframes python{
    0%{
        width: 0%;
    }
    100%{
        width: 65%;
    }
}
@keyframes java{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes mysql{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
@keyframes glow{
    0%{
        background: rgb(255, 0, 0);
        box-shadow:0;
    }
    100%{
        background: rgb(255, 0, 0);
        box-shadow:0 0 .5rem red ;
    }
    
}