html,body{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato" sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}
.png1{
    background-image: url("image1.png");
}
.png2{
    background-image: url("image2.png");
}

.png1, .png2{
    min-height: 100%;
    position: relative;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.p{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
   
}
.bg{
 font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    background-color: #666;
    color: white;
    padding: 40px 50px;
}
.text p{
    padding: 50px 80px;
}