* {
  background-color: rgb(23, 21, 21)
}

h1 {
  color: white;
  margin-left: 20px;
  font-size: 40px;
  text-align: right;
}

.box h2 {
  color: white;
  width: 300px;
  height: 100px;
  border-radius: 25%;
  background-color: rgb(71, 16, 12);
  text-align: center;
  margin-top: 50px;
}

p {
  color: white;
  text-align: justify;

}



/* hover is used */
.nav ul li a:hover::after {
  visibility: visible;
  transform: scaleX(1);
}

/* footer css */
footer {
  background-color: #333;
  color: #0c2caef4;
  padding: 20px 0;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.footerLogo h2 {
  font-size: 24px;
  font-weight: bold;
}

.footer-link ul {
  list-style: none;
  display: flex;


}

.footer-link ul li {
  margin-right: 50px;
  font-weight: 20px;
}

.footer-link ul li a {
  color: #b89a9a;
  text-decoration: none;
  position: relative;
  transition: color o.3s ease-in-out;
}

.footer-link ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  background-color: #487b9ba5;
  left: 0;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;

}

.footer-link ul li a:hover::after {
  visibility: visible;
  transform: scaleX(1);
}

.footer-bottom {
  text-align: center;
  transition: opacity 0.3s ease-in-out;
}

.footer-bottom:hover {
  opacity: 0.8;
}