* {

    background-color: rgb(0, 0, 0);
}

p {
    /*paragraph text*/
    color: rgb(255, 255, 255);
    padding: 10px;
}

.vanja {
    width: 600px;
    border: 5px rgb(0, 140, 255);
    padding: 20px;
    margin: 36px;
}

.ti {
    margin-left: 150px;
}

.blog-post {
    display: flex;
    /*layout design*/
    justify-content: center;
    /* to bring image in middle*/
    align-items: center;
    margin: 70px 0px;
    flex-wrap: wrap;
}

.blog-box {
    background-color: rgb(34, 0, 103);
    border: 1px solid rgb(211, 56, 56);
    margin: 20px;
    float: left;
    width: 25%;
    padding: 10px;
}

.blog-box1 {
    width: 100%;
    height: 250;

}

.blog-box1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog-text a {
    color: white;
    text-decoration: none;
    padding-left: 45px;
}

.blog-box2 {
    width: 100%;
    height: auto;
}

.blog-box2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog-text p {
    color: white;
    text-decoration: none;
    padding-left: 10px;
}

.comment {
    display: flex;
    justify-content: center;
    height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

h2 {
    color: white;
}

.som {
    color: white;

}






.container {
    width: 600px;
    /*for box size*/
    border: 1px solid rgb(229, 0, 0);
    background-color: rgb(255, 255, 255);
    margin-left: 30%;
}

.container h2 {
    text-align: center;
    margin-bottom: 30px;
    background-color: rgba(223, 95, 95, 0);
    color: black;
}

textarea {
    height: 40px;
    width: 100%;
    background-color: rgb(235, 220, 220);
    transition: .5s
}

input,
button {
    padding: 10px 15px;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;

}

input {
    color: #ffffff;
    background-color: #240f81
}

button {
    color: #ffffff;
    background-color: rgb(200, 34, 34)
}

.com {
    background-color: rgb(255, 255, 255);
}

.sbo {
    width: 20%;
    padding: 1px;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    margin-left: 2%;

}

/* footer css */
footer {
    background-color: #333;
    color: #0c2caef4;
    padding: 20px 0;
}

.footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.footerLogo h2 {
    font-size: 24px;
    font-weight: bold;
}

.footer-link ul {
    list-style: none;
    display: flex;


}

.footer-link ul li {
    margin-right: 50px;
    font-weight: 20px;
}

.footer-link ul li a {
    color: #b89a9a;
    text-decoration: none;
    position: relative;
    transition: color o.3s ease-in-out;
}

.footer-link ul li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    background-color: #487b9ba5;
    left: 0;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;

}

.footer-link ul li a:hover::after {
    visibility: visible;
    transform: scaleX(1);
}

.footer-bottom {
    text-align: center;
    transition: opacity 0.3s ease-in-out;
}

.footer-bottom:hover {
    opacity: 0.8;
}