*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.contatiner{
    background-color: hsl(240, 54%, 86%);
    min-height: 100vh;
    border: solid 10px black;
    
}
.content{
    max-width: 900px;
    margin: 0 auto;

}
image ,img{
    width: 300px;
    height: 320px;
}
.top_section{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}
.top_section img{
    border-radius:50%;
}
.top_section h1{
    text-transform: uppercase;
    font-size: 50px
}
.top_section h4{
text-align: end;
}

.about{
    margin-top: 5%;
    
}
.about h1{
    text-align: center;
    font-size: 50px;
}
.about p{
    font-size: 20px;
    margin-top: 5px;
    line-height: 30px;
    font-family: 'Times New Roman', Times, serif;
}




















































































































































































































































































































































































































































































































































