@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    font-family:'Roboto' , sans-serif ;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform:capitalize;
    transition: .2s linear;

}
html{
    font-size: 62.5%;
    overflow-x:hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;

}
html::-webkit-scrollbar{
    width: .8rem;

}
html::-webkit-scrollbar-track{
    background: transparent;

}
html::-webkit-scrollbar-thumb{
    background: #000000;
    border-radius: 5rem;
}
section{
    padding: 2rem 7%;
}

.heading{
    margin-top: 25px;
    text-align: center;
    color: #0a0909;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;

}
.heading span{
    color: #000000;
    text-transform: uppercase;

}
.header span{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    margin-left: -10%;
    font-family: Segoe Print;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #ffffff;
    background: #000000;
    cursor: pointer;
}
.btn:hover{
    letter-spacing: .2rem;
}
.header{
    background: #010103;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    /* border-bottom: 0.5rem solid rgb(255, 255, 255); */
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}
.header .logo img{
    height: 9rem;
}
.header .navbar a{

    margin: 0 1rem;
    font-size: 1.6rem;
    color: white;

}
.header .navbar:hover a{
    color: #000000;

}
.header .navbar a:hover{
    color: #fff8f8;
    border-bottom: .1rem solid #413131;
    padding-bottom: .5rem;
    box-shadow: 0 2px 0 0 currentColor;
    letter-spacing: 2px;
}

.header .icons div{
    color: #fff;
    font-size: 2.5rem;
    cursor: pointer;
    margin-left :2rem;
}
.header .icons div:hover{
    color: #ffffff;

}
#menu-btn{
    display: none;

}
.header .search-form{
    position: absolute;
    top: 115%;
    right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;

}

.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;

}
.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5;
    color:var(--black);
}

.header .search-form label:hover{
    color: #000000;
}
.header .cart-item-container{
    position: absolute;
    top: 100%;
    right:-100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: #fff;
    padding: 0 1.5rem;

}
.header .cart-item-container.active{
    right: 0;
}
.header .cart-item-container .cart-item{
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;

}
.header .cart-item-container .cart-item .fa-times{
    position: absolute;
    top: 1rem; right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: black;

}
.header .cart-item-container .cart-item .fa-times:hover{
    color: #413131;

}
.header .cart-item-container .cart-item img{
    height: 7rem;
}
.header .cart-item-container .cart-item .content h3{
    font-size: 2rem;
    color: var(--black);
    padding-bottom: .5rem;

}
.header .cart-item-container .cart-item .content .price{
    font-size: 1.5rem;
    color: #413131;

}
.header .cart-item-container .btn{
    width: 100%;
    text-align: center;

}
.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url('Caffeine_and_Coffee_1.webp') no-repeat;
    background-size: cover;
    background-position: center;
}
.home .content{
    max-width: 60rem;

}
.home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;

}
.home .content p{
    font-size: 2rem;
    font-weight:  lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: #eee;

}

.about .row{
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;

}
.about .row .image{
    flex: 1 1 70rem;

}
.about .row .image img{
    width: 100%;
}
.about .row .content{
    flex: 1 1 45rem;
    padding: 2rem;
}

.about .row .content h3{
    font-size: 3rem;
    color: #000000;

}
.about .row .content p{
    font-size: 1.6rem;
    color: #0a0909;
    padding: 1rem 0;
    line-height: 1.8;
}

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;

}
.menu .box-container .box{
    padding: 5rem;
    text-align: center;

}
.menu .box-container .box img{
    height: 10rem;

}
.menu .box-container .box h3{
    color: #040303;
    font-size: 2rem;
    padding: 1rem 0;

}
.menu .box-container .box .price{
    color: #040303;
    font-size: 2.5rem;
    padding: 5rem 0;
}
.menu .box-container .box .price span{
    
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}
.products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}
.products .box-container .box{
    text-align: center;
    border: 0.5rem solid rgb(255, 255, 255);
    padding: 2rem;
}

.products .box-container .box .icons a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border: 0.5rem solid rgb(255, 255, 255);
    color: #090808;
    margin: .3rem;
}

.products .box-container .box .icons a:hover{
    background: #ffffff;
}
.products .box-container .box .image{
    padding: 2.5rem 0;
}

.products .box-container .box .image img{
    height: 25rem;
}
.products .box-container .box .content h3{
    color: #000000;
    font-size:  2.5rem;
}
.products .box-container .box .stars{
    padding: 1.5rem;
}
.products .box-container .box .stars i{
    font-size: 1.7rem;
    color: #ffee00;
}

.products .box-container .box .price{
    color: #020202;
    font-size: 2.5rem;

}
.products .box-container .box .price span{
    text-decoration: line-through;
    font-weight: lighter;
}

.review .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.review .box-container .box{
    text-align: center;
    padding: 3rem 2rem;
}

.review .box-container .box p{
    font-size: 1.6rem;
    line-height: 1.8;
    color: #000000;
    padding: 2rem 0;
}
.review .box-container .box .user{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .box-container .box h3{
    padding: 1rem 0;
    font-size: 2rem;
    color: #000000;
}

.review .box-container .box .stars i{
    font-size: 1.5rem;
    color: #ffe70a;

}

.contact .row{
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;
    gap: 1rem;
}
.contact .row .map{
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}
.contact .row form{
    flex:1 1 45rem;
    padding: 5rem 3rem;
    text-align: center;
}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: #fffafa;
    border: 0.5rem solid rgb(0, 0, 0);

}
.contact .row form .inputBox span{
    color: #000000;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #030303;
    text-transform: uppercase;
    background: none;

}
.footer{
    background: white;
    text-align: center;

}
.footer .share{
    padding: 1rem;


}
.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #000000;
    border: 0.5rem solid rgb(0, 0, 0);
    margin: .3rem;
    border-radius: 50%;
}

.footer .share a:hover{
    background-color: #ffffff;
}

.footer .credit{
    font-size: 2rem;
    color: #000000;
    font-weight: lighter;
    padding: 1.5rem;

}
.footer .credit span{
    color: #090707;
}






@media (max-width:991px) {
    html{
        font-size: 55%;
    }
    .header{
        padding: 1.5rem 2rem;
    }
    section{
        padding: 2rem;
    }
}
@media (max-width:768px) {
    #menu-btn{
        display: inline-block;
    }
    .header .navbar{
        position: absolute;
        top: 100%; right: -100%;
        background: #040303;
        width:  30rem;
        height: calc(100vh-9.5rem);
    }
    .header .navbar.active{
        right: 0;
    }
    .header .navbar a {
        color: white;
        display: block;
        margin: 1.5rem;
        padding: 5rem;
        font-size: 2rem;
    }
    .header .search-form{
        width: 90%;
        right: 2rem;
    }
    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }
    .home .content h3{
        font-size: 4.5rem;
    }
    .home .content P{
        font-size: 1.5rem;
    }
    .header span{
        font-size: 3rem;
    }
    .header .logo img{
    height: 100px;
    width: 100px;
}
}

@media (max-width:450px) {

    html{
        font-size: 50%;
    }
    .header span{
        font-size: 1rem;
    }

}
