@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: all .2s linear;
    text-transform: capitalize;
}
header{
    /* border: 2px solid black; */
    position: sticky;
    margin-top: 0;
    padding: 15px;
    color:white;
    display: flex;
    justify-content: space-between;
    background-color: rgb(38, 36, 36);
  }
  .logo h1{
    /* border: 2px solid black; */
    font-family: sans-serif;
  }
  /* .nav{
    
  } */
  .nav ul{
    /* border: 2px solid black; */
    list-style: none;
    display: flex;
    align-items: center;
    margin: top 10px;
  }
  .nav ul li{
    margin-right: 15px;
  }
  .nav ul li a {
    font-family: cursive;
    font-weight: bold;
    font-size: x-large;
    text-decoration: none;
    color: white;
    position: relative;
  }
  
  .nav ul li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    background-color: white;
    left: 0;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }
  
  .nav ul li a:hover::after {
    visibility: visible;
    transform: scaleX(1);
  }
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background: #444;
}
.tag{
    font-size: 30px;
    text-align: center;
}
a{
    color: #fff;
}
.container{
    max-width: 1200px;
    margin:0 auto;
    padding:48px 32px;
}
.container .title{
    font-size: 56px;
    color: antiquewhite;
    margin-bottom: 48px;
    text-transform: uppercase;
    text-align: center;
}
.container .product-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
    gap:25px;
}
.container .product-container .product{
    text-align:center;
    padding:48px 32px;
    background: white;
    box-shadow:0 8px 16px rgba(0,0,0,0.1);
    outline: 1.6px solid #ccc;
    outline-offset: -24px;
    cursor: pointer;

}
.container .product-container .product:hover{
outline: 3.2px solid #222;
outline-offset: 0;
}
.container .product-container .product img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;

}
.container .product-container .product:hover img{
    transform: scale(.9);
}
.container .product-container .product h3{
    font-size: 32px;
    color: #444;
}
.container .product-container .product:hover h3{
    color: #27ae60;
}
.container .product-container .product .price{
    font-size: 30px;
    color: #444;
} 
.product-preview{
    position: fixed;
    top: 0; left: 0;
    min-height:100vh;
    width: 100%;
    background: rgba(0,0,0,.8);
    display: none;
    justify-content: center;
}
.product-preview .preview{
    display: none;
    padding: 5px;
    text-align: center;
    background: white;
    position: relative;
    margin:100px;
    width: 300px;
}

.product-preview .preview.active{
    display: inline-block;
} 

.product-preview .preview img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 95%;

}
.product-preview .preview .fa-times{
    position: absolute;
    top: 5px; right:10px;
    cursor: pointer;
    color: #444;
    font-size: 4rem;
}
.product-preview .preview h3{
    color: #444;
    padding: 0px 0;
    font-size: 40px;
} 
.product-preview .preview .stars{
padding: 0px 0;
font-size: 22px;
}
.product-preview .preview .stars i{
    color: orange;
}
.product-preview .preview p{
 line-height: 1.5;
 padding: 5px;
 font-size: 15px;
 color: #777;     
}
.product-preview .preview .price{
    padding: 5px 0;
    font-size: 20px;
    color: #222;
}
.product-preview .preview .buttons{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    margin-top: 15px;
}
.product-preview .preview .buttons .buy{
    flex: 0.6 1 16px;
    padding: 5px;
    font-size: 20px;
    color: white;
    border: 1px solid #444;
    background: #444;
    cursor: pointer;
}
.product-preview .preview .buttons .cart{
    flex: 0.6 1 16px;
    padding: 5px;
    font-size: 20px;
    color: black;
    border: 1px solid #fff;
    background: #fff;
    cursor: pointer;
}
.product-preview .preview .buttons .buy:hover{
    background:white;
    color: black;
    
} 
.product-preview .preview .buttons .cart:hover{
    background: #444;
    color: #fff;
}
   
