*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: #ccc;
}
.main-container{
    margin: 0 auto; 
    max-width: 900px;

}
h1{
    margin-left: 20px;
    font-size: 50px;
}
.content{
    background-color: white;
    margin: 0 auto; 
    max-width: 600px;
    margin-top: 50px;
    padding: 20px;
    border-radius:10px;
    box-shadow: 5px 5px 10px black;

}
.forms{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
    padding: 20px;
}
.main-contain{
    
    display: flex;
    flex-direction: column;
}
input,select,textarea{
    padding: 6px 10px;
    border-radius: 3px;
    border: #ccc solid 2px;
    font-size: 15px;
}
input,select,textarea:focus{
    outline-color: rgb(12, 138, 255);
}
.but{
    display: flex;
    justify-content: end;
    margin-top: 20px;
}
button{
    padding: 10px 10px;
    color: rgb(255, 255, 255);
    background: red;
    border-radius: 100px;
    border: solid  ;
    cursor: pointer;
}
button:hover{
    opacity:50%;
    color: white;
}
.add-contain{
    grid-column: 1 / span 2;

}
textarea{
    width: 100%;
}
@media (max-width:500px) {
    .add-contain{
    grid-column: 1 / span 1;
    }
}